amqp==2.4.0
autopep8==1.3.5
backcall==0.1.0
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.0
defusedxml==0.5.0
Django==2.1.5
django-braces==1.13.0
django-mjml==0.6.0
django-oauth-toolkit==1.2.0
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.9.0
flake8==3.6.0
idna==2.7
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.1
kombu==4.2.2.post1
mccabe==0.6.1
oauthlib==2.1.0
parso==0.3.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.2.0
PyJWT==1.7.1
PySocks==1.6.8
python3-openid==3.1.0
pytz==2018.9
raven==6.10.0
redis==3.0.1
requests==2.21.0
requests-oauthlib==1.1.0
simplegeneric==0.8.1
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==2.0.0
traitlets==4.3.2
tweepy==3.7.0
urllib3==1.23
uWSGI==2.0.17.1
vine==1.2.0
wcwidth==0.1.7
