{% extends base_template %}
{% load mjml %}
{% mjml %}
    {% block content %}
        <mj-section background-color="#fafafa">
            <mj-column width="400px">
                <mj-text color="#525252"> Hello, {{ username }} </mj-text>
                <mj-text color="#525252">
                    You are receiving this because previously you were signed up on Ekata Social. Since 2018, some years ago the Ekata team decided to close our social media platform Ekata Social and pivot to Baza Foundation. Baza Foundation is an online community focused on providing a socially responsible cryptocurrency.
                </mj-text>
                <mj-text color="#525252">
                    Our belief is that the future of money should work for everyone and the future of money will be built using the advancements in distributed blockchain protocols. So, with these new protocols we can build in socially responsible money regulations and policies such as a stake holder dividend ie basic income.
                </mj-text>
                <mj-text color="#525252">
                    Because of your previous interests, and we wanted to clean up our old database, we are inviting you to join this community. In addition, all new signups from Ekata Social will receive 1000 $BAZA coins to their online wallet accounts.
                </mj-text>
                <mj-text color="#525252">
                    Please come and join us on this journey at <a href="https://baza.foundation" style="color:#525252">Baza.Foundation</a>, and together we can build a better currency that works for all of us.
                </mj-text>
                <mj-text color="#525252">
                    Notes: 
                    <ol style="padding-left:0;margin-top:10px">
                        <li>
                            All Ekata accounts that are incomplete and over 90 days inactive from receiving this email will be deactivated and archived for deletion.
                        </li>
                        <li>
                            By joining you are eligible for the 1000 $BAZA reward. Use the same username and password you had for Ekata.Social.
                        </li>
                        <li>
                            If you forgot your Ekata.Social username and password, reset your password using this url <a href="https://baza.foundation/resetpassword" style="color:#525252">Reset Password</a>, use this email id in email field and submit. You should get an email with reset password link, use the link to set new password. Once you reset the password login using the new password and this username: <span style="color:#e65100">{{ username }}</span>
                        </li>
                    </ol>
                </mj-text>
                <mj-text color="#525252">
                    Thank you,<br />
                    Baza Foundation Team
                </mj-text>
            </mj-column>
        </mj-section>
    {% endblock content %}
{% endmjml %}
