{% extends base_template %}
{% load mjml %}
{% mjml %}
    {% block content %}
        <mj-section>
            <mj-column>
                <mj-text font-size="20px" font-family="Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol" color="#273951" align="center">Welcome to the all new Ekata.Social</mj-text>
                <mj-text color="#273951" align="center">
                    We updated the look and features with the latest codebase.<br/>
                    Please use the following link to set password.<br/>
                    Then use following user name to login.
                </mj-text>
                <mj-text color="#273951" align="center">
                    Username: {{username}}
                </mj-text>
                <mj-button background-color="#ff3232" href='{{reset_password_url}}'>Set Password</mj-button>
                <mj-button background-color="#28cf5f" href='https://ekata.social/#!login'>Login</mj-button>
            </mj-column>
        </mj-section>
    {% endblock content %}
{% endmjml %}
