{% extends base_template %}
{% load mjml %}
{% mjml %}
    {% block content %}
        <mj-section>
            <mj-column>
                <mj-text font-size="20px" font-family="Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol" color="#273951" align="center">Password Reset</mj-text>
                <mj-text color="#273951">
                    We have detected that you asked to reset your password. If you made this request please click the button.
                </mj-text>
                <mj-button background-color="#ff3232" href="{{ reset_link }}">Reset Password</mj-button>
            </mj-column>
        </mj-section>
    {% endblock content %}
{% endmjml %}
