{% extends base_template %}
{% load mjml %}
{% mjml %}
    {% block content %}
        <mj-section>
            <mj-column>
                <mj-text font-size="20px" font-family="Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol" color="#273951" align="center">Email Validation</mj-text>
                <mj-text color="#273951" align="center">
                    Please click following button to validate your email
                </mj-text>
                <mj-button background-color="#ff3232" href='{{ validation_url }}'>Validate email</mj-button>
            </mj-column>
        </mj-section>
    {% endblock content %}
{% endmjml %}
