{% load mjml %}
{% mjml %}
<mjml>
    <mj-body>
        <mj-wrapper border="1px solid #F6F6F6">
            <mj-section background-url="https://ekata.social/public/img/hero-image.jpg"
              background-size="cover"
              background-repeat="no-repeat">
                <mj-column>
                    <mj-image src="https://ekata.social/public/img/ekata-logo-circle.png" alt="" align="center" border="none" width="100px" padding-left="0px" padding-right="0px" padding-bottom="10px" padding-top="10px"></mj-image>
                    <mj-text  align="center"
                            color="#FFF"
                            font-size="40px"
                            font-family="Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol">Ekata Social</mj-text>
                </mj-column>
            </mj-section>
            {% block content %}{% endblock content %}
            <mj-section background-color="#4990e2" padding-bottom="5px" padding-top="15px">
                <mj-column width="100%">
                    <mj-text align="center" color="#FFF" font-size="15px" font-family="Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol" padding-left="25px" padding-right="25px"
                    padding-bottom="10px" padding-top="0"> <br/> <span style="font-size:15px">© 2019 Ekata Social</span> <br/><br/> Contact : <a href="mailto:support@ekata.social" style='color:#FFF'>support@ekata.social</a><br/> </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#4990e2" padding="0px 30px 15px">
                <mj-column>
                    <mj-social border-radius="15px" icon-size="30px">
                        <mj-social-element padding="10px" href="https://www.facebook.com/EkataSocial" src="https://www.mailjet.com/images/theme/v1/icons/ico-social/facebook.png" />
                        <mj-social-element padding="10px" href="https://twitter.com/ekatasocial" src="https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png" />
                        <mj-social-element padding="10px" href="https://t.me/ekatasocial" src="https://ekata.social/public/img/telegram_30.png" icon-size="20px" icon-padding="0 0 5px 0" border-radius="0"/>
                    </mj-social>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
{% endmjml %}
